asgiref             
atomicwrites       
attrs               
certifi            
cffi               
charset-normalizer  
colorama            
coverage           
cryptography        
defusedxml          
Django            
django-allauth     
django-anymail      
django-countries    
django-crispy-forms 
django-environ      
gunicorn            
idna                
importlib-metadata  
jsmin               
more-itertools     
oauthlib      
packaging       
pillow          
pip             
pluggy           
psycopg          
psycopg-binary     
psycopg2         
psycopg2-binary   
purge            
py               
pycparser         
PyJWT            
pytest           
pytest-cov          
python3-openid      
requests            
requests-oauthlib   
setuptools       
six               
sqlparse          
stripe             
toml              
typed_ast         
typing_extensions   
tzdata             
urllib3          
wcwidth           
wheel              
zipp